<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="https://nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target type="ColoredConsole" name="logconsole" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Error" final="true" />
		<logger name="*" minlevel="Info" writeTo="logconsole" />
	</rules>
</nlog>
